body {
    color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}


/* Link styles */

a {
    color: #FFFFFF;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

.logo {
    font-family: Abel;
    font-size: 400%;
    color: #FFFFFF;
    opacity: 1.0;
}

.container {
    position: absolute;
    width: 600px;
    z-index: 0;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.footer {
    font-family: Arial, sans-serif;
    font-size: x-small;
    opacity: 0.6;
    margin-top: 70%;
}


/* Social media icons */

.fa {
    background: #FFFFFF;
    color: #142333 !important;
    padding: 6px;
    font-size: 20px;
    width: 18px;
    text-align: center;
    text-decoration: none !important;
    margin: 5px 2px;
    border-radius: 15%;
}

.fa:hover {
    text-decoration: none !important;
}

.fa-facebook:hover {
    background: #3B5998;
    color: #FFFFFF !important;
}

.fa-twitter:hover {
    background: #55ACEE;
    color: #FFFFFF !important;
}

.fa-linkedin:hover {
    background: #007bb5;
    color: #FFFFFF !important;
}


/* particle network animation */

.particle-network-animation {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #171717;
}

.particle-network-animation::before {
    z-index: -2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0c54a7;
    opacity: 0.2;
}

.glow {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), rgba(0, 0, 0, 0));
}

.glow-1 {
    width: 150vw;
    height: 150vh;
    margin-top: -75vh;
    margin-left: -75vw;
    animation: glow-1-move 25s linear infinite both;
}

@keyframes glow-1-move {
    from {
        transform: translate(-100%, 100%);
    }
    to {
        transform: translate(100%, -100%);
    }
}

.glow-2 {
    width: 100vw;
    height: 100vh;
    margin-top: -50vh;
    margin-left: -50vw;
    animation: glow-2-move 25s linear 8.33333s infinite both;
}

@keyframes glow-2-move {
    from {
        transform: translate(-100%, 0%);
    }
    to {
        transform: translate(100%, 100%);
    }
}

.glow-3 {
    width: 120vw;
    height: 120vh;
    margin-top: -60vh;
    margin-left: -60vw;
    animation: glow-3-move 25s linear 16.66667s infinite both;
}

@keyframes glow-3-move {
    from {
        transform: translate(100%, 100%);
    }
    to {
        transform: translate(0%, -100%);
    }
}