html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #404040;
}
#home {
  background-color: #142333;
}
.logo {
  font-family: 'Abel', 'Helvetica Neue', Arial, sans-serif;
  font-size: 35px;
  color: #FFFFFF;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul.circle {
  list-style-type:circle;
}
.navbar {
  width: 100%;
  min-height: 60px;
  margin-left: 0%;
}
/* Add navbar padding on large screens */
@media screen and (min-width: 768px) {
  .navbar {
    padding-left: 18%;
    padding-right: 18%;
  }
}
.navbar-expand-md {
  transition: 800ms ease;
  background: transparent !important;
}
.menu-active {
  background: rgba(0, 0, 0, 0.7) !important;
}
/* Hamburger menu */
.icon-bar {
  width: 22px; 
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}
/* Hamburger menu animation */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-expand-md.scrolled {
  background: #FFFFFF !important;
}
/* Logo scroll styles */
.conscient.scrolled {
  color: #3C78D8;
}
.ai.scrolled {
  color: #666666;
}

a.nav-link {
  color: #FFFFFF !important;
  opacity: 0.6;
}
a.nav-link:hover {
  opacity: 1.0;
}
a.nav-link.scrolled {
  color: #808080 !important;
  opacity: 1.0;
}
a.nav-link.scrolled:hover {
  color: #4d4d4d !important;
}

.count-particles {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 80%;
  text-align: center;
}
.particles-js-canvas-el {
  height: 614px;
  width: 100%;
}
#cookie-policy .particles-js-canvas-el {
  height: 314px;
}
.slogan-container-parent {
  position: relative;
  min-height: 500px;
  margin-top: 60px;
}
#cookie-policy .slogan-container-parent {
  min-height: 200px;
}
.slogan-container {
  position: absolute;
  /* Vertical align */
  top: 50%;
  transform: translateY(-50%);
  /* Horizontal align */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.slogan {
  font-size: 8.1vmin;
  font-weight: 200;
  color: #FFFFFF;
}
#cookie-policy .slogan {
  font-size: 6.1vmin;
}
.domains {
  color: #E8987D;
  font-weight: 300;
}
.section-header {
  font-family: 'Montserrat', sans-serif;
  color: #3C78D8;
  margin-top: 20px;
}
/*hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-width: 2px;
  border-color: #3C78D8;
}*/
.dark-bg {
  background-color: rgba(237, 242, 248, 0.7);
}
.work-label {
  margin-top: 2vh;
  margin-bottom: 4vh;
}
.work-div {
  opacity: 0;
  min-width: 300px;
}
.carousel-indicators li {
  height: 14px;
  width: 14px;
  border-radius: 7px !important;
}
.team-div > .fa {
  opacity: 0.6;
  color: #808080 !important;
  font-size: 25px !important;
  text-align: center;
  text-decoration: none !important;
  margin: 0px 5px 0px 5px;
}
.team-div > .google-scholar {
  opacity: 0.6;
  color: #808080 !important;
  font-size: 25px !important;
  text-align: center;
  text-decoration: none !important;
  margin: 0px 5px 0px 5px;
}
.team-div {
  min-width: 300px;
}
/*.team-pic {
  opacity: 0.85;
}*/
.google-scholar {
  margin-bottom: 4px;
}
.team-label {
  margin-top: 2vh;
}
h5.contact {
  margin-bottom: 12px;
  font-weight: 500;
}
a.contact {
  color: #E17854;
}
.contact > .fa-envelope {
  font-size: 20px;
  opacity: 0.6;
}
.contact > .fa-phone {
  font-size: 25px;
  opacity: 0.6;
}
/* Form styles */
* {
  border-radius: 0 !important;
}
form .form-control:focus {
  border-color: #CED4DA;
  box-shadow: none;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #142333;
  color: #FFFFFF;
  text-align: center;
  font-size: small;
}
.footer a {
  font-size: 16px;
  color: #FFFFFF !important;
  opacity: 0.6;
}
.footer a:hover {
  opacity: 0.9;
}
/* Social media icons */
.footer-menu > .fa {
  background: #142333;
  opacity: 0.5;
  color: #CCCCCC !important;
  font-size: 20px !important;
  text-align: center;
  text-decoration: none !important;
  margin: 10px 15px 10px 0px;
}
.footer-menu > .fa:hover {
  text-decoration: none !important;
  color: #FFFFFF !important;
}
.footer-locations {
  color: #CCCCCC !important;
}

.copyright {
  opacity: 0.6;
}