body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 0;
}

p {
    line-height: 1.75;
    color: #404040;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #b1b1b1;
}

a:hover {
    border-bottom: 1px solid #555;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
    text-align: center;
    color: #999;
}

.center {
    margin: auto;
    width: 40%;
}

@media screen and (max-width: 1200px) {
    .center {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .center {
        width: 100%;
    }
}
